html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla';
}


/* ==========================================================================
                    common rules
========================================================================== */

.center {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.regularhr {
    width: 7em;
    margin: 30px auto;
    background-color: #31c074ff;
    color: #31c074ff;
    height: 2px;
}

.lightgrey
{
  background-color: rgb(230, 230, 230);
  margin-bottom: 50px;
  margin-top: 40px;

}

.grey , .greyb
{
    background-color: rgb(40, 40, 40);
}

.greyb
{
  padding-top: 40px;
  color: white;
}

.greyc
{
  background-color: rgb(240, 240, 240);
  padding-bottom: 40px;
  padding-top: 10px;
}

.greyb i
{
  color: #31c074ff;
  font-size: 25px;
}


.grey , .white , .lightgrey
{
    padding: 40px 0 80px 0;
    margin-bottom: 50px;
}

p {
    width: 80%;
    text-align: center;
    margin: auto;
}

article {
    text-align: center;
}

h3 {
    margin: 40px 10px 0 10px;
    font-size: 30px;
    font-weight: 400;
    color: #303030;
    font-family: 'Julius Sans One';
}

figcaption .fa {
    font-size: 50px;
    margin-bottom: 20px;
}

.greytext
{
  color: white;
}
a
{
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
                   end of common rules
========================================================================== */


/* ==========================================================================
                header rules
========================================================================== */

header {
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header i
{
  color: white;
  font-size: 10em !important;
}

h1
{
  color: white;
}

/* ==========================================================================
                   end of header rules
========================================================================== */


/* ==========================================================================
                nav rules
========================================================================== */

#menu {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav span
{
  color: #31c074ff;
  margin-left: 0.5em;
}


/* ==========================================================================
                end of nav rules
========================================================================== */


/* ==========================================================================
                budget & enjeux rules
========================================================================== */



/* ==========================================================================
                   end of budget & enjeux rules
========================================================================== */


/* ==========================================================================
                contact rules
========================================================================== */

.contact {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 20px;
    flex-direction: column;
}

.contact h3
{
  color: white !important;
}

/* ==========================================================================
                end of contact rules
========================================================================== */


/* ==========================================================================
                            start of footer rules
========================================================================== */

footer {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}

footer nav {
    width: 100%;
    padding-bottom: 15px;
}

footer ul {
    width: 70%;
    margin: auto;
    list-style-type: none;
}

footer ul li {
    text-align: center;
}
footer ul li i
{
  margin-bottom: 20px;
}

/* ==========================================================================
                                     end of footer rules
========================================================================== */

@media (min-width:768px) {
    /* ==========================================================================
                      tarif rules
  ========================================================================== */
    /* ==========================================================================
                     end of tarif rules
  ========================================================================== */
    /* ==========================================================================
                    contact rules
========================================================================== */

    /* ==========================================================================
                   end of contact rules
========================================================================== */

@media (min-width:1024px) {
    /* ==========================================================================
                header rules
========================================================================== */
    header nav {
        display: none;
    }
    #menu {
        display: block;
        width: 100%;
        z-index: 999;
    }
    #menu ul {
        display: flex;
        background-color:#31c074ff;
;
        list-style-type: none;
        margin: auto;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    #menu ul li
    {
      padding: 1em 3em;
      color: white;
      font-weight: 600;
    }
    /* ==========================================================================
                   end of header rules
========================================================================== */

    /* ==========================================================================
                     end of service
  ========================================================================== */
    /* ==========================================================================
                  teamblock
  ========================================================================== */

    /* ==========================================================================
                     end of teamblock
  ========================================================================== */
    /* ==========================================================================
                      common rules
  ========================================================================== */
    /* ==========================================================================
                     end of common rules
  ========================================================================== */
    /* ==========================================================================
                  main rules
  ========================================================================== */
    /* ==========================================================================
                     end of main rules
  ========================================================================== */
    /* ==========================================================================
                              start of footer rules
  ========================================================================== */
    footer {
        flex-direction: row;
        width: 70%;
    }
    footer nav {
        width: 32%;
        padding-bottom: 15px;
    }
    footer ul {
        width: 100%;
    }
    /* ==========================================================================
                                       end of footer rules
  ========================================================================== */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
